{{!-- This is the 1st view of all albums on one page
 --}}
 
<li>
  <div data-group-id="{{album}}" class="thumbBox" >
    <a href="#">
      <div>
        <img width="200" height="200" src="{{photo}}" alt="{{description}}">
      </div>
      <div class="album-name" data-ind-album="{{album}}">{{album}}
      </div>
    </a>
  </div>
</li>