<li>
  <div class="photoThumb" data-photo-id="{{photo_id}}" >
    <a href="#" data-photo-id="{{photo_id}}">
      <div>
        <img src="{{photo_img}}" alt="{{description}}">
      </div>
      <div class="photo-name">{{description}}
      </div>
    </a>
  </div>
</li>